.house-container {
  margin: 5px;
  height: 200px;
  width: 600px;
  background-color: #DEDEDE;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.house-img {
  margin: 15px;
}

.house-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: left;
  align-items: left;
  justify-content: left;
}

.delete-button {
  margin-bottom: 180px;
  margin-left: 65px;
  font-weight: 500;
  font-size: 15px;
  background-color: #DEDEDE;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}