.dashboard-container {
  margin-top: 125px;
  margin-bottom: 125px;
  width: 60%;
  height: 100%;
  background-color: #E5F4EC;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.button {
  height: 30px;
  width: 125px;
  background-color: #8AEA92;
  font-weight: 800;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-title {
  margin: 20px;
  font-size: 25px;
  color: darkslategrey;
}

.dashboard-add {
  margin: 20px;
}

.line {
  width: 90%;
}

.dashboard-listings {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}